.valorant-btn {
    text-transform: uppercase;
    text-decoration: none;
    border: 0;
    margin: 10px 0;
    display: inline-block;
    padding: 0;
    position: relative;
    color: #fff;
    font-weight: 600;
    background: none;
  }
  .valorant-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    padding: 10px;
    box-sizing: content-box;
    border: 1px solid #222;
    border-bottom: none;
    height: 20%;
    transform: translateY(-10px) translateX(-50%);
    transition: all .4s;
    display: block;
  }
  .valorant-btn:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    padding: 10px;
    box-sizing: content-box;
    border: 1px solid #222;
    border-top: none;
    height: 20%;
    transform: translateY(10px) translateX(-50%);
    transition: all .4s;
    display: block;
  }
  .valorant-btn .underlay {
    display: block;
    width: 100%;
    height: 100%;
    padding: 3px;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
    overflow: hidden;
  }
  .valorant-btn .underlay:before {
    content: "";
    display: block;
    width: 150%;
    height: 400%;
    background: #222;
    padding: 0;
    box-sizing: border-box; 
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 20;
    transition: all .4s linear;
    transform: translateX(-110%)  translateY(-50%) rotate(15deg);
    z-index: 10;
  }
  .valorant-btn .underlay:after {
    content: "";
    z-index: 5;
    width: 100%;
    height: 100%;
    box-shadow: 2px -2px 0 2px #00FCCE, -2px 3px 0 2px #00FCCE;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(3px, 3px);
    background: #00FCCE;
  }
  .valorant-btn .label {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 90px;
    box-sizing: border-box; 
    position: relative;
    z-index: 20;
    font-size: 16px;
    line-height: 1;
  }
  .valorant-btn .label:after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    box-sizing: border-box; 
    position: absolute;
    z-index: 30;
    background: #222;
    right: -3px;
    bottom: -3px;
    transition: all .4s 0s;
  }
  .valorant-btn:hover {
    cursor: pointer;
  }
  .valorant-btn:hover .underlay:before {
    transform: translateX(-10%)  translateY(-50%) rotate(15deg);
  }
  .valorant-btn:hover .label:after {
    background: #fff;
    transition: all .4s .4s;
  }
  .valorant-btn:active:before {
    transform: translateY(-5px) translateX(-50%);
    padding: 10px 5px;
  }
  .valorant-btn:active:after {
    transform: translateY(5px) translateX(-50%);
    padding: 10px 5px;
  }