.input-area {
  background-color: #000000;  /* 어두운 회색 톤 */
  min-height: 40px;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 1;
  right: 1;
  width: 23.5%;  /* 전체 너비 사용 */
  padding: 10px;  /* 주변 공간 추가 */
 
}

.input-container {
  display: flex;
  width: 100%;
  align-items: center;  /* 중앙 정렬 */
}

.MuiInput-root, input {
  flex: 1;  /* 플렉스 아이템 확장 */
  border: 2px dashed #362e2e; 
  background-color: #333;  /* 어두운 배경색 */
  color: #fff;  /* 텍스트 색상 */
  border-radius: 8px;  /* 둥근 모서리 */
  padding: 8px 12px;  /* 편안한 타이핑을 위한 패딩 */
  font-size: 16px;  /* 적절한 글씨 크기 */
  outline: none;  /* 포커스 아웃라인 제거 */
}

input:focus {
  border-color: #00FCCE;  /* 포커스 시 형광 녹색 테두리 */
}

.send-button {
  width: auto;  /* 자동 너비 조절 */
  background-color: #ff00ff;  /* 버튼 배경색 형광 핑크 */
  color: #fff;  /* 버튼 텍스트 흰색 */
  border: none;  /* 테두리 제거 */
  border-radius: 8px;  /* 둥근 모서리 */
  padding: 8px 16px;  /* 패딩 */
  cursor: pointer;  /* 포인터 커서 */
  box-shadow: 0px 0px 5px 1px #ff00ff;  /* 형광 핑크 그림자 */
}

.send-button:hover {
  background-color: #ff1493;  /* 마우스 오버시 색상 변경 */
  box-shadow: 0px 0px 10px 3px #ff1493;  /* 그림자 강조 */
}

.send-button:active {
  background-color: #c71585;  /* 클릭시 색상 변경 */
}
