.login-container {
    font-family: 'Arial', sans-serif;
    background-color: #0f1923;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.login-form {
    background: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form h1 {
    color: #00FCCE;
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #1b2838;
    border: 1px solid #0f1923;
    color: white;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #00FCCE;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.login-form a {
    color: #00FCCE;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
}
